@model Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Sigorta kategori düzenleme sayfası</h5>
        </div>

        <form asp-action="UpdateCategory" method="post">
            <input type="hidden" asp-for="CategoryId" />

            <label>Kategori adı</label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>

            <br />
            <button class="btn btn-success">Kategoriyi kaydet</button>
        </form>
    </div>
</div>
