@{
    ViewData["Title"] = "CreateAboutItemGoogleGemini";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Google Gemini Hakkımda Öne Çıkan Özellikler Yazı Örneği</h1>

<hr />

<p>@ViewBag.value</p>